[workspace]
members = ["kernel", "xtask", "user", "benchmarks/microbench", "bootloader"]
default-members = ["kernel", "xtask"]
resolver = "2"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
